# Servidor
PORT=
# Base de Datos MongoDB
MONGODB_URI=
# Ambiente de ejecución
NODE_ENV=
# Nivel de logs: fatal, error, warn, info, http o debug
LOG_LEVEL=
# Se usará cuando se implemente autenticación JWT
JWT_SECRET=