# Servidor
PORT=3001
# Base de Datos MongoDB
MONGODB_URI=mongodb://localhost:27017/shipnow
# Ambiente de ejecución
NODE_ENV=development
# Nivel de logs: fatal, error, warn, info, http o debug
LOG_LEVEL=debug
# Se usará cuando se implemente autenticación JWT
JWT_SECRET=